.container {
  height: 550px;
  width: 100%;
}
.leaflet-container {
  height: 550px;
    width: 100%;
}
#map{
  width: 500px;
    height: 500px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.button-close {
    position: absolute;
     
      right: 150px;
      padding: 5px 7px;
}