.table {
    width: 100%;
    margin-left: 5%;
    box-shadow: 0 0 3px 1px #b9b9b9;
}

.line {
    background-color: rgb(103, 127, 151);
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.button {
    border: 1px solid;
    border-radius: 2px;
    height: 20px;
    width: 100%;
    
}